<%= content_for :title, 'Relatórios' %>

<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Conversão</h3>
    <%= pie_chart Chamada.group(:status).count %>
  </div>

</div>