<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipos_contato.descricao %>
</p>

<%= link_to 'Edit', edit_tipos_contato_path(@tipos_contato) %> |
<%= link_to 'Back', tipos_contatos_path %>
